pipeline/PL_DATA_DS_ADLS_METADATA_DRIVEN_TO_ASQL_MOVIES.json
{
	"name": "PL_DATA_DS_ADLS_METADATA_DRIVEN_TO_ASQL_MOVIES",
	"properties": {
		"activities": [
			{
				"name": "LKP_GET_META_INFO",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [src_container]\n      ,[src_folder]\n      ,[src_file_name]\n      ,[src_column_delimiter]\n      ,[src_encoding]\n      ,[src_escape_character]\n      ,[src_quote_character]\n      ,[tgt_schema_name]\n      ,[tgt_table_name]\n      ,[column_mapping]\n      ,[diu_value]\n  FROM [etl].[tControlMetadata]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Movies",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GET_META_INFO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GET_META_INFO').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_DYN_FILES",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LKP_START_LOG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().src_folder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().src_file_name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table ', item().tgt_schema_name,'.', item().tgt_table_name)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": {
									"value": "@item().diu_value ",
									"type": "Expression"
								},
								"translator": {
									"value": "@json(item().column_mapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_DynamicFile",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().src_container",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().src_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().src_file_name",
											"type": "Expression"
										},
										"column_delimiter": {
											"value": "@item().src_column_delimiter",
											"type": "Expression"
										},
										"encoding": {
											"value": "@item().src_encoding",
											"type": "Expression"
										},
										"escape_character": {
											"value": "@item().src_escape_character",
											"type": "Expression"
										},
										"quote_character": {
											"value": "@item().src_quote_character",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_MoviesDB",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().tgt_table_name",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@item().tgt_schema_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LKP_START_LOG",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[etl].[usp_InsertEtlLog]",
									"storedProcedureParameters": {
										"ComponentName": {
											"type": "String",
											"value": "CP_DYN_FILES"
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"StartTime": {
											"type": "DateTime",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "'Started'"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ASQL_Movies",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SP_SAVE_SUCCESS_LOG",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_DYN_FILES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[usp_UpdateEtlLog]",
								"storedProcedureParameters": {
									"BillingDuration": {
										"value": {
											"value": "@float(activity('CP_DYN_FILES').output.billingReference.billableDuration[0].duration)",
											"type": "Expression"
										},
										"type": "Double"
									},
									"BillingMeterType": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.billingReference.billableDuration[0].meterType",
											"type": "Expression"
										},
										"type": "String"
									},
									"BillingUnit": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.billingReference.billableDuration[0].unit",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.copyDuration",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataRead": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.dataRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.dataWritten",
											"type": "Expression"
										},
										"type": "String"
									},
									"EndTime": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"EtlLogId": {
										"value": {
											"value": "@int(activity('LKP_START_LOG').output.firstRow.EtlLogId)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FilesRead": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.filesRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"ParallelCopiesValues": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].usedParallelCopies",
											"type": "Expression"
										},
										"type": "String"
									},
									"QueueDuration": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].detailedDurations.queuingDuration",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"TransferDuration": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].profile.transfer.duration",
											"type": "Expression"
										},
										"type": "String"
									},
									"UsedDIU": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartTime": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_MoviesDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_SAVE_ERROR_LOG",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_DYN_FILES",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[usp_UpdateEtlLog]",
								"storedProcedureParameters": {
									"BillingDuration": {
										"value": {
											"value": "@float(activity('CP_DYN_FILES').output.billingReference.billableDuration[0].duration)",
											"type": "Expression"
										},
										"type": "Double"
									},
									"BillingMeterType": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.billingReference.billableDuration[0].meterType",
											"type": "Expression"
										},
										"type": "String"
									},
									"BillingUnit": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.billingReference.billableDuration[0].unit",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyDuration": {
										"value": null,
										"type": "String"
									},
									"DataRead": {
										"value": null,
										"type": "String"
									},
									"DataWritten": {
										"value": null,
										"type": "String"
									},
									"EndTime": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"EtlLogId": {
										"value": {
											"value": "@int(activity('LKP_START_LOG').output.firstRow.EtlLogId)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FilesRead": {
										"value": null,
										"type": "String"
									},
									"ParallelCopiesValues": {
										"value": null,
										"type": "String"
									},
									"QueueDuration": {
										"value": null,
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('CP_DYN_FILES').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"TransferDuration": {
										"value": null,
										"type": "String"
									},
									"UsedDIU": {
										"value": null,
										"type": "String"
									},
									"StartTime": {
										"value": null,
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_MoviesDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-06-04T16:55:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}