pipeline/PL_DATA_DS_ADLS_Online_To_DS_ASQL_Online.json
{
	"name": "PL_DATA_DS_ADLS_Online_To_DS_ASQL_Online",
	"properties": {
		"activities": [
			{
				"name": "CP_IncrementalLoadOnline",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_SQL_WaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@{activity('LKP_SQL_WaterMark').output.firstRow.OldWatermarkValue}",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('CurentDate')",
								"type": "Expression"
							},
							"wildcardFolderPath": "online",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "truncate table [stg].[online_purchase];",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "serviceName"
								},
								"sink": {
									"name": "online_service_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "serviceCode"
								},
								"sink": {
									"name": "online_service_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "movieId"
								},
								"sink": {
									"name": "movie_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "userId"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "price"
								},
								"sink": {
									"name": "price",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "transaction.id"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "transaction.datetime"
								},
								"sink": {
									"name": "transaction_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "source_filename"
								},
								"sink": {
									"name": "source_filename",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "pipelineId"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_Online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_OnlinePurchase",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_LOAD_Online",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_IncrementalLoadOnline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateAllOnlineTbl]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@variables('CurentDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "OnlineStg",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_MoviesDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_GEN_SETVAR_CurentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurentDate",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LKP_SQL_WaterMark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SETVAR_CurentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT WatermarkValue as OldWatermarkvalue FROM [dbo].[WatermarkTable]\nwhere TableName ='OnlineStg'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_WatermarkTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"CurentDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-13T19:05:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}