pipeline/PL_DATA_DS_ADLS_Movies_DS_SQL_Movies.json
{
	"name": "PL_DATA_DS_ADLS_Movies_DS_SQL_Movies",
	"properties": {
		"activities": [
			{
				"name": "LKP_OverMetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_SQL_MetadataADF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('LKP_SQL_MetadataADF').output.value)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_DS_ADLS_Movies_DS_SQL_Movies",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "movies",
										"wildcardFileName": {
											"value": "@item().SourceFile",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE stg.', item().TargetTable,';')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_Movies",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().SourceFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_Movies",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().TargetTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_SQL_MetadataADF",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [SourceFile]\n      ,[TargetTable]\n  FROM [dbo].[Metadata_ADF]\n  WHERE [isActive] ='Y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_MetadataADF",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SP_LoadMoviesTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP_OverMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateAllMoviesTbl]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_MoviesDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-05-01T17:21:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}