pipeline/PL_DATA_DS_ABLB_Movies_To_DS_ADLS_Movies.json
{
	"name": "PL_DATA_DS_ABLB_Movies_To_DS_ADLS_Movies",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_META_FilesList",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SETVAR_CurentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_MoviesBin",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ACT_ITRC_FOR_FileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_FilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "receiver",
						"value": "vad.pasechnik@gmail.com"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_META_FilesList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_ABLB_Movies_To_DS_ADLS_Movies",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ADLS_Azurementoringdatalakeva",
											"type": "LinkedServiceReference"
										},
										"path": "log"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_MoviesBin",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_MoviesBin",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(substring(item().Name, 0, lastIndexOf(item().Name, '.')),'_', variables('CurentDate'),'.', last(split(item().Name, '.')))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Email_Success",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "CP_ABLB_Movies_To_DS_ADLS_Movies",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('GetSecret').output.value",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{\n    \"subject\" : \"Pipeline @{pipeline().Pipeline} run successfully.\", \n    \"message\" : \"Pipeline ID @{pipeline().RunId} run on @{pipeline().DataFactory}.\",\n    \"receiver\" : \"@{pipeline().parameters.receiver}\"\n   }",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Email_Failed",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "CP_ABLB_Movies_To_DS_ADLS_Movies",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('GetSecret').output.value",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{\n     \"subject\" : \"Pipeline @{pipeline().Pipeline} run failed.\",  \n     \"message\" : \"Pipeline ID @{pipeline().RunId} run on @{pipeline().DataFactory} failed with error @{string(activity('CP_ABLB_Movies_To_DS_ADLS_Movies').output.errors)}\",\n    \"receiver\" : \"@{pipeline().parameters.receiver}\"\n   }",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ACT_GEN_SETVAR_CurentDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurentDate",
					"value": {
						"value": "@utcnow('yyyyMMddhhmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().globalParameters.key_vault_url,'?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "vad.pasechnik@gmail.com"
			}
		},
		"variables": {
			"CurentDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-15T17:26:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}